* {
    font-family: 'poppions';
}

.main-container {
    display: flex;
    width: 80%;
    height: 400px;
    justify-content: center;
    margin-left: 40px;
}

.qax {
    margin: 30px;
    margin-left: 340px;
}

.basliq {
    margin-left: 460px;
    font-size: 35px;
}

.basliq1 {
    margin-left: 420px;
    font-size: 27px;
}

.qax1 {
    margin-left: 415px;
}

.melumat1 {
    margin-left: 430px;
    width: 50%;
}

.basliq2 {
    margin-top: 50px;
    margin-left: 420px;
    font-size: 27px;
}

.qax2 {
    margin-top: 40px;
    margin-left: 415px;
}

.melumat2 {
    margin-left: 430px;
    width: 48%;
}

.basliq3 {
    margin-top: 50px;
    margin-left: 420px;
    font-size: 27px;
}

.qax3 {
    margin-top: 40px;
    margin-left: 415px;
}

.melumat3 {
    margin-left: 430px;
    width: 50%;
}

.basliq4 {
    margin-top: 30px;
    margin-left: 420px;
    font-size: 27px;
}

.qax4 {
    margin-top: 40px;
    margin-left: 415px;
}

.melumat4 {
    margin-left: 430px;
    width: 48%;
}

.basliq5 {
    margin-top: 30px;
    margin-left: 420px;
    font-size: 27px;
}

.qax5 {
    margin-top: 40px;
    margin-left: 415px;
}

.melumat5 {
    margin-left: 430px;
    width: 50%;
}

.basliq6 {
    margin-left: 420px;
    font-size: 27px;
}

.qax6 {
    margin-left: 415px;
}

.melumat6 {
    margin-left: 460px;
    width: 50%;
}

.basliq7 {
    margin-top: 50px;
    margin-left: 420px;
    font-size: 27px;
}

.qax7 {
    margin-top: 40px;
    margin-left: 415px;
}

.melumat7 {
    margin-left: 430px;
    width: 50%;
}